{% extends 'base.html.twig' %}

{% block body %}
<div class="login-box-body">
    <h1>Member Login</h1>
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('user_login') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <div class="form-group has-feedback">
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" class="form-control" placeholder="Username" value="{{ last_username }}">
            <span class="fa fa-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me"/>
                        Remember Me
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-5">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Sign In
                </button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <p><a href="{{ path('google_login') }}">Login With Google</a></p>

</div>
<!-- /.login-box-body -->
{% endblock %}
